# 1. Loading the dataset

In [1]:
import os
import glob
import numpy as np
import pandas as pd

In [2]:
dataset_path =  os.path.abspath(".")
dataset_path

'/home/almudenaramirez607/Final_project/dataset'

In [3]:
# looking for the images (they all are .jpg)
globpath = f"{dataset_path}/**/*.jpg"

# generation of an array with all the pictures
pictures = np.hstack([np.array(glob.glob(globpath, recursive = True))])
pictures[:10]

array(['/home/almudenaramirez607/Final_project/dataset/test/20/img2.jpg',
       '/home/almudenaramirez607/Final_project/dataset/test/20/d20_top_584.jpg',
       '/home/almudenaramirez607/Final_project/dataset/test/20/d20_top_624.jpg',
       '/home/almudenaramirez607/Final_project/dataset/test/20/d20_top_520.jpg',
       '/home/almudenaramirez607/Final_project/dataset/test/20/d20_top_576.jpg',
       '/home/almudenaramirez607/Final_project/dataset/test/20/d20_top_528.jpg',
       '/home/almudenaramirez607/Final_project/dataset/test/20/img1.jpg',
       '/home/almudenaramirez607/Final_project/dataset/test/20/d20_top_632.jpg',
       '/home/almudenaramirez607/Final_project/dataset/test/20/d20_top_608.jpg',
       '/home/almudenaramirez607/Final_project/dataset/test/20/d20_top_560.jpg'],
      dtype='<U80')

# 2. Training

### 2.1. Normalization of the array and generation of the ground truth

In [4]:
def filename_analysis(filename):
    x = filename.split("/")
    return {
        "ground_truth": x[6],
        "type": x[5],
        "file": filename
    }

In [5]:
filename_analysis('/home/almudenaramirez607/Final_project/dataset/test/20/d20_top_608.jpg')

{'ground_truth': '20',
 'type': 'test',
 'file': '/home/almudenaramirez607/Final_project/dataset/test/20/d20_top_608.jpg'}

In [6]:
df = pd.DataFrame(list(map(filename_analysis, pictures)))

In [7]:
df

     ground_truth   type                                               file
0              20   test  /home/almudenaramirez607/Final_project/dataset...
1              20   test  /home/almudenaramirez607/Final_project/dataset...
2              20   test  /home/almudenaramirez607/Final_project/dataset...
3              20   test  /home/almudenaramirez607/Final_project/dataset...
4              20   test  /home/almudenaramirez607/Final_project/dataset...
...           ...    ...                                                ...
4037            3  train  /home/almudenaramirez607/Final_project/dataset...
4038            3  train  /home/almudenaramirez607/Final_project/dataset...
4039            3  train  /home/almudenaramirez607/Final_project/dataset...
4040            3  train  /home/almudenaramirez607/Final_project/dataset...
4041            3  train  /home/almudenaramirez607/Final_project/dataset...

[4042 rows x 3 columns]

In [8]:
df["type"].value_counts()

train    3559
test      483
Name: type, dtype: int64

In [9]:
df["ground_truth"].value_counts()

15      616
1       439
5       340
9       291
20      282
7       222
17      216
11      201
3       195
13      195
raro    172
2       164
10      120
14      117
18       96
12       82
8        81
4        57
19       57
16       56
6        43
Name: ground_truth, dtype: int64

### 2.2. Split