# 1. Loading the dataset

In [1]:
import os
import glob
import numpy as np
import pandas as pd

In [2]:
dataset_path =  os.path.abspath(".")
dataset_path

'/home/almudenaramirez607/Final_project/dataset'

In [3]:
# looking for the images (they all are .jpg)
globpath = f"{dataset_path}/**/*.jpg"

# generation of an array with all the pictures
pictures = np.hstack([np.array(glob.glob(globpath, recursive = True))])
pictures[:10]

array(['/home/almudenaramirez607/Final_project/dataset/test/20/img2.jpg',
       '/home/almudenaramirez607/Final_project/dataset/test/20/d20_top_584.jpg',
       '/home/almudenaramirez607/Final_project/dataset/test/20/d20_top_624.jpg',
       '/home/almudenaramirez607/Final_project/dataset/test/20/d20_top_520.jpg',
       '/home/almudenaramirez607/Final_project/dataset/test/20/d20_top_576.jpg',
       '/home/almudenaramirez607/Final_project/dataset/test/20/d20_top_528.jpg',
       '/home/almudenaramirez607/Final_project/dataset/test/20/img1.jpg',
       '/home/almudenaramirez607/Final_project/dataset/test/20/d20_top_632.jpg',
       '/home/almudenaramirez607/Final_project/dataset/test/20/d20_top_608.jpg',
       '/home/almudenaramirez607/Final_project/dataset/test/20/d20_top_560.jpg'],
      dtype='<U78')

# 2. Normalization of the array and generation of the ground truth

In [5]:
def filename_analysis(filename):
    x = filename.split("/")
    return {
        "ground_truth": x[6],
        "type": x[5],
        "file": filename
    }

In [6]:
filename_analysis('/home/almudenaramirez607/Final_project/dataset/test/20/d20_top_608.jpg')

{'ground_truth': '20',
 'type': 'test',
 'file': '/home/almudenaramirez607/Final_project/dataset/test/20/d20_top_608.jpg'}

In [7]:
df = pd.DataFrame(list(map(filename_analysis, pictures)))

In [7]:
df

     ground_truth   type                                               file
0              20   test  /home/almudenaramirez607/Final_project/dataset...
1              20   test  /home/almudenaramirez607/Final_project/dataset...
2              20   test  /home/almudenaramirez607/Final_project/dataset...
3              20   test  /home/almudenaramirez607/Final_project/dataset...
4              20   test  /home/almudenaramirez607/Final_project/dataset...
...           ...    ...                                                ...
4037            3  train  /home/almudenaramirez607/Final_project/dataset...
4038            3  train  /home/almudenaramirez607/Final_project/dataset...
4039            3  train  /home/almudenaramirez607/Final_project/dataset...
4040            3  train  /home/almudenaramirez607/Final_project/dataset...
4041            3  train  /home/almudenaramirez607/Final_project/dataset...

[4042 rows x 3 columns]

In [8]:
df["type"].value_counts()

train    2738
test      388
Name: type, dtype: int64

In [9]:
df["ground_truth"].value_counts()

1     413
15    412
5     313
9     291
7     222
20    204
3     195
2     164
11    149
13    126
10    120
8      81
18     72
12     64
4      58
14     51
17     51
19     49
16     48
6      43
Name: ground_truth, dtype: int64

In [10]:
df.to_csv("labels.csv")